* {
    font-family: "Lexend", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 16px;
}

.logo-matius {
    background-color: white;
    text-align: center;
    /* width: clamp(150px, 13vw, 300px); */
    width: 14vw;
    border-radius: 0 0 200px 200px;
    position: absolute;
    left: 4%;
    transform: translateX(-50%);
    padding: 15px;
    z-index: 6;
}

.logo-matius img {
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.logo {
    width: 70%;
    max-width: 100px;
    min-width: 50px;
}
/*navbar styles*/
.nav-link{
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 30px;
    border-radius: 15px;
}

.nav-link:hover{
    scale: 1.1;
    background-color: #27352c90;
}

.menu-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(11, 121, 58);
    width: 100%;
    justify-items: center;
    padding-left: 2%;
    position: fixed;
    display: block;
    z-index: 5;
    box-shadow: 0px 0px 30px #27352c;

}


.offcanvas-end {
    background-color: rgb(62, 128, 76);
    color: white;
    padding: 20px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    transition: background-color 0.3s ease-in-out;
}

/*offcanvas menu styles*/
.offcanvas .navbar-nav .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}

.offcanvas .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.offcanvas-header {
    background-color: rgb(62, 128, 76);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navar-toggler {
    border: none;
    outline: none;
    background-color: transparent;
}
.offcanvas{
    width: fit-content;
}

.navar-toggler:hover{
    scale: 1.2;
}


.portada-container{
    padding-top: 5%;
    width: 100%;
}

.container-img-text{
    background-color: #027728;
    background-image: url('images/equipo-matius.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    align-items: end;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 8%;
    text-shadow:  5px 0px 2px #000000;
}

.container-img-text h1{
    font-size: 3.5em;
    color: white;
}

.arrow{
    width: 100%;
    text-align: center;
    margin-top: 4%;
    animation: down 0.8s infinite;
}

@keyframes down{
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

/*whatsAppp icon styles*/
.logo-whats{
    position: fixed;
    cursor: pointer;
    width: 75px;
    z-index: 2;
    bottom: 10px;
    right: 100px;
}

.logo-whats:hover{
    scale: 1.15;
}

/*we are Matius styles*/
.we-are-container{
    background-color: #e5ffbd;
    padding-bottom: 3%;
}

.we-are-text-container{
    margin-top: 7%;
}

.we-are-text-container{
    color: #6c7d44;
    justify-items: center;
}
.we-are-text-container p{
    text-align: justify;
    margin-top: 5%;
    letter-spacing: 0px;
    font-size: 1.2em;
    line-height: 1.25;
}
.we-are-title{
    padding-bottom: 2%;
    justify-content: center;
    border-bottom: #6c7d44 2px solid;
}
.somos{
    font-weight: 300;
    font-size: 2em;
}

.matius-title{
    font-weight: 600;
    font-size: 2em;

}
.matius-title-2{
    font-weight: 600;
    font-size: 1.2em;

}

.street-img img{
    width: 14%;
    position: absolute;
    z-index: 3;
}

/*misión y visión styles*/

.mision-vision-container{
    background-color: #ffffff;
    border: solid 2px #0c943c;
    margin-top: 10%;
    color: #6c7d44;
    padding-top: 5%;
    padding-bottom: 3%;
    width: 80%;
    border-radius: 20px;
}
.mision-vision-container .row{
    align-items: center;
    justify-content: center;
}

.mision-vision-img-container img {
    width: 100%;
    border-radius: 20px;
}

.mision-vision-text-container h4{
    font-size: 2em;
    color: #168125;
    font-weight: 600;
}


.mision-vision-text-container p{
    font-size: 1.2em;
}

.mision-vision-img-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*valorees styles*/

.valores-container{
    margin-top: 8%;
}
.valores-text-container{
    width: 80%;
    margin: 0 auto;
}
.section-title{
    font-size: 2.5em;
    font-weight: 600;
    color: #168125;
    border-bottom: solid 2px #036d28;

}

.valores-text-container p{
    margin-top: 5%;
    font-size: 1.3em;
    color: #375b36;
}

/*carrusel de carta para los valores styles*/
.carrusel-contenedor {
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5% auto;
}

.tarjeta {
    display: inline-block;
    width: 240px;
    height: 300px;
    perspective: 1000px;
    margin-right: 10px;
}

.tarjeta-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.tarjeta:hover .tarjeta-inner {
    transform: rotateY(180deg);
}

.tarjeta-front, .tarjeta-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
}

.tarjeta-front {
    background-color: #009611a7;
    color: white;
}

.tarjeta-back {
    background-color: #f1f1f1;
    color: black;
    transform: rotateY(180deg);
    text-align: left;
    overflow: hidden;
}

.icono {
    font-size: 50px;
    margin-bottom: 20px;
}

.tarjeta-back p {
    margin: 0;
    text-align: justify;
}

@media (max-width: 600px) {
    .tarjeta {
        width: 150px;
        height: 250px;
    }

    .icono {
        font-size: 40px;
    }
}

/*sección de políticas cards styles*/
.politicas-container{
    width: 80%;
    margin: 10% auto;
}
.politicas-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 5% auto;
}
.card{
    background-color:rgb(218, 229, 213) ;
    border: #027728 solid 2px;

}
.card img{
    border-bottom: #027728 solid 2px;

}
.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color:rgb(199, 208, 194) ;
    transition: 0.2s;
}

/*modales de las cards*/
.politicas-container .modal{
    font-size: 1em;
}
.bold{
    font-weight: bold;
    color: #12a445;
}
.att{
    font-size: 1.15em;
    font-weight: 600;
}
.modal-header h2{
    color: #12a445;
    font-weight: 600;
}

/*certificaciones*/
.certifications-container, .clients-container {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 2px #0c943c;
    padding: 2% 2%;
}

.certifications{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
    width: 100%;
    margin: 5% auto;
}

.certification {
    flex: 1 1 calc(33.33% - 40px); 
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #00d20074;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.439); 
    min-width: 250px; 
    align-content: center;
    transition: transform 0.3s, box-shadow 0.3s;

}

.clients-container{
    margin-top: 10%;
}

.clients {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px; 
    margin-top: 20px;
}

.client {
    background-color: #00d20074;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    flex: 1 1 calc(25% - 20px); 
    max-width: 250px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
    align-content: center;
}

.client:hover, .certification:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #00d20095;
}

.client img {
    width: 80%;
    max-width: 150px; 
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; 
}

.c3 img{
    width: 100%;
    max-width: 200px; 
}

/* CONTENEDOR DEL MAPA */
.location-container {
    z-index: 0;
    margin: 0 auto;
    width: 60%;
    position: relative; /* CAMBIO: Antes era absolute */
    transform: translate(-0%, 40%); /* Ajusta la superposición */
}

.location-title{
    justify-content: center;
    color: #6c7d44;
}
.location-container h2{
    border-right: solid 3px #6c7d44;
}
.location-title svg{
    width: 40px;
    margin-bottom: 15px;
}
.location-title span{
    font-size: 1.6em;
}

/* MAPA */
.location-map-container {
    width: 100%;
}

.location-map-container iframe {
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 300px; /* Ajusta el tamaño */
}

/* FOOTER */
.footer-cont {
    text-align: center;
    background-color: #27352c;
    width: 100%;
    padding-top: 8rem; /* Espacio para que el mapa lo cubra */
    padding-bottom: 6rem;
    position: relative;
    z-index: -1;
}

/* TEXTO DEL FOOTER */
.footer-text {
    text-align: center;
    color: white;
    align-content: center;
    padding-top: 4rem; /* Evita que el texto se solape */
}

.footer-text .text-center {
    font-size: 1.2em;
    font-weight: 700;
}

.footer-text p {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.35em;
}

/* REDES SOCIALES */
.social-media {
    margin-top: 3rem;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

.cellphone, .email {
    font-size: clamp(1rem, 1.2vw, 1.45rem);
    margin-top: 2rem;
}


.cellphone{
    margin-top: 2rem;
}

/* Sección de servicios responsiva */

@media (max-width: 992px) {
    .we-are-text-container {
        padding-bottom: 5%;
    }
    .container-img-text{
        background-position: center;
        background-size: cover;
        text-align: center;
        margin-top: 15vh;
    }
    .container-img-text h1{
        padding-top: 5%;
        padding-left: 0;
    }

    .we-are-title{
        text-align: center;
    }

    .tarjeta-front h3{
        font-size: 1em;
    }
    .tarjeta-back {
        font-size: 0.9em;
        flex-direction: column;
    }
    .location-title{
        font-size: 1em;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .location-container h2{
        border-right: none;
    }
    .location-title svg{
        width: 40px;
        margin-bottom: 15px;
    }
    .section-title{
        font-size: 2em;
    }
    .card{
        margin-top: 10%;
    }
    .menu-container{
        justify-content: space-between;
    }
}

