* {
    font-family: "Lexend", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-size: 16px;
}

.logo-matius {
    background-color: white;
    text-align: center;
    /* width: clamp(150px, 13vw, 300px); */
    width: 14vw;
    border-radius: 0 0 200px 200px;
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    padding: 15px;
    z-index: 1;
}


.logo-matius img {
    width: 100%;
    height: auto;
    margin-top: 15%;
}

.logo {
    width: 30%;
}


.top-background-container {
    background-image: url('images/background-blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 40px;
}

.menu-services-container {
    position: relative;
    width: 90%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;

}


.video-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.menu-container {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}


.nav-link {
    color: #fff;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 500;
    margin-right: 20px;
    text-shadow: 0 0 10px black;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
}


.nav-link:hover {
    transform: scale(1.1);
    background-color: rgba(8, 142, 55, 0.55);
}


.menu-scroll{
    position: absolute; 
    top: 0;
    width: 100%;
    z-index: 5000;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: rgba(62, 128, 76, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
} 

.offcanvas-end {
    background-color: rgb(62, 128, 76);
    color: white;
    padding: 20px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    transition: background-color 0.3s ease-in-out;
}

/*offcanvas menu styles*/
.offcanvas .navbar-nav .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px 20px;
}

.offcanvas .navbar-nav .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.offcanvas-header {
    background-color: rgb(62, 128, 76);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offcanvas{
    width: 50%;
}
.offcanvas {
    z-index: 1050 !important; /* Bootstrap usa 1045, lo aumentamos */
}
 
.button{
    width: 80vw;
    justify-content: space-between;
    display: flex;
}
.navbar-toggler:hover{
    scale: 1.2;
}

.under-menu{
    background-color: #02a652;
    width: 100%;
    text-align: center;
    padding: 7px;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

.under-menu-2{
    background-color: #02a6517e;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.políticas{
    background-color: #0b7430aa;
    font-weight: 400;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none ;
}

.políticas:hover{
    background-color: #125d2cd3;
    scale: 1.1;
    cursor: pointer;
    color: #02a652;
}



.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    width: 95%;
    margin: 0 auto;
}

.service {
    background-color: rgba(39, 53, 44, 0.56);
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    flex: 1 1 calc(33% - 20px);
    /* max-width: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.service span {
    color: white;
    font-size: 1em;
    font-weight: 300;
}

.service img {
    width: 30%;
    max-width: 100px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    margin: 0 auto;
}

.service img:hover {
    transform: scale(1.2);
}

.s3 img{
    margin-top: 5px;
    max-width: 70px;
}


/*whatsAppp icon styles*/
.logo-whats{
    position: fixed;
    cursor: pointer;
    width: 75px;
    z-index: 2;
    bottom: 10px;
    right: 100px;
}

.logo-whats:hover{
    scale: 1.15;
}


/* styles.css */

.menu-sticky {
    position: fixed;
    width: 100%;
    background-color: #27844494;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.menu-sticky nav{
    justify-content: space-between;
    padding-top: 8px;
}

.menu-sticky nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.menu-sticky .logo-menu img{
    width: 50px;
}

.menu-sticky nav ul li {
    margin: 0;
}

.menu-sticky nav ul li a {
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 15px;
}

.menu-sticky nav ul li a:hover {
    background-color: #146d3bb4;
}

.menu-scroll{
    display: block;
}


/*Our services styles*/

.our-services-title{
    position: absolute;
    padding: 3%;
    margin-top: 3%;
    padding-top: 5%;
    text-align: center;
    justify-items: center;
    position: relative;
    background-color: #17a454;
}
.our-services-title h4{
    font-weight: 100;
    color: white;
    font-size: 2.5em;
    font-weight: 400;
    border-bottom: solid white 2px;
}

.our-services-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
}
.our-services-green-div{
    background-color: #17a454;
    height: 25%;
    text-align: center;
    position: absolute;
    width: 100%;
    border: solid 5px #17a454;
}
.services-cards{
    position: relative;
    width: 85%;
    margin: 0% auto;
}

/*cards styles*/

.transporte-de-carga-container, .manipulacion-de-carga-container, .mensajeria-container{
    width: 100%;
    height: 80%;
    margin-bottom: 5%;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.187);
}
.transporte-de-carga-container{
    background-image: url('images/transporte-de-carga-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-position: bottom;
}

.manipulacion-de-carga-container{
    background-image: url('images/manipulacion-de-carga-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-position: bottom;
}

.mensajeria-container{
    background-image: url('images/mensajeria-blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    background-position: bottom;
}

.transporte-de-carga-container .row, .manipulacion-de-carga-container .row, .mensajeria-container .row{
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 2%;
}

.img-arrow-container{
    justify-items: center;
    align-items: center;
}

.title-and-img img{
    width: 100%;
    border-radius: 25px;
}

.title-and-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 40px rgba(2, 64, 19, 0.723);

}

.row h3{
    font-weight: 400;
    color: #17a454;
    padding-bottom: 2%;
}

.title-and-img{
    width: 90%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.info{
    font-weight: 300;
    color: #515e34;
    font-size: 1.3rem;
}

.info h4{
    font-weight: 400;
    color: black;
}

.info li, p{
    font-weight: 350;
    font-size: 1em;
    line-height: 1.2;
    width: 90%;
}

.justify-text{
    text-align: justify;
}

.bold{
    font-weight: bold;
    color: #0f8944;
}

.services-cards .modal{
    font-size: 1em;
}
.info .btn{
    background-color: #2e9d44;
    color: white;

}

.info .btn:hover{
    background-color: #1b712c;
}
.modal-header h2{
    color: #12a445;
    font-weight: 600;
}


.info li::marker {
    font-size: 0.6em; /* Ajustar el tamaño de la viñeta */
}


/*arrow styles*/
.arrow img{
    width: 25px;
}
.arrow{
    margin-left: 4%;
}

/* CONTENEDOR DEL MAPA */
.location-container {
    z-index: 0;
    margin: 0 auto;
    width: 60%;
    position: relative; /* CAMBIO: Antes era absolute */
    transform: translate(-0%, 40%); /* Ajusta la superposición */
}

.location-title{
    justify-content: center;
    color: #6c7d44;
}
.location-container h2{
    border-right: solid 3px #6c7d44;
}
.location-title svg{
    width: 40px;
    margin-bottom: 15px;
}
.location-title span{
    font-size: 1.6em;
}

/* MAPA */
.location-map-container {
    width: 100%;
}

.location-map-container iframe {
    border-radius: 25px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.31);
    width: 100%;
    height: 300px; /* Ajusta el tamaño */
}

/* FOOTER */
.footer-cont {
    text-align: center;
    background-color: #27352c;
    width: 100%;
    padding-top: 8rem; /* Espacio para que el mapa lo cubra */
    padding-bottom: 6rem;
    position: relative;
    z-index: -1;
}

/* TEXTO DEL FOOTER */
.footer-text {
    text-align: center;
    color: white;
    align-content: center;
    padding-top: 4rem; /* Evita que el texto se solape */
}

.footer-text .text-center {
    font-size: 1.2em;
    font-weight: 700;
}

.footer-text p {
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.35em;
}

/* REDES SOCIALES */
.social-media {
    margin-top: 3rem;
    font-size: clamp(1.2rem, 1.5vw, 1.6rem);
}

.cellphone, .email {
    font-size: clamp(1rem, 1.2vw, 1.45rem);
    margin-top: 2rem;
}


.cellphone{
    margin-top: 2rem;
}

/* Sección de servicios responsiva */

@media (max-width: 992px) {
    .info {
        font-size: 1.1em;
    }
    .location-title{
        font-size: 1em;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .location-container h2{
        border-right: none;
    }
    .location-title svg{
        width: 40px;
        margin-bottom: 15px;
    }

}

@media (max-width: 556px){

    .company-title h2{
        font-size: 2.5em;
        margin-top: 10vh;
    }
    .social-media {
        margin-top: 3rem;
        font-size: 1.4em;
    }
    .cellphone, .email{
        font-size: 1.2em;
    }
    .footer-cont{
        padding-top: 40%;
    }

}



